= simple_form_for @nutrient do |form|
  = form.input :title
  = form.input :image, as: :file
  = form.input :category, as: :select, collection: @categories

  %div{class: 'mt-4 mb-4'}
    = form.rich_text_area :text
  = form.button :submit
