%nav.flex.h-20
  %div.flex-1.self-center.flex.justify-center
    %div.flex.flex-row
      = image_tag('logo_transparent.png', class: 'h-16')
      %h1.text-4xl.self-end Nutrire
  %div.flex-1.self-center.flex.justify-center
    %ul.flex.space-x-4
      %li Home
      %li Popular
      %li Category
  %div.flex-1.self-center.flex.justify-center
    %div
      - if signed_in?
        Signed in as:
        = current_user.email
        = button_to 'Sign out', sign_out_path, method: :delete
      - else
        = link_to 'Login', sign_in_path
        |
        = link_to 'Register', sign_up_path
