%section{class: 'grid grid-rows-2 grid grid-cols-1'}
  -# Most Voted
  - if @most_voted_nutrient
    - background_image_url = image_or_placeholder({ url: @most_voted_nutrient.image.url, size: '4000/2000', seed: "popular-nutrient-#{@most_voted_nutrient.id}" })
    %div{class: 'relative bg-cover bg-center bg-no-repeat', style: "background-image: url(#{background_image_url})"}
      %div{class: 'absolute bottom-0 py-6 pl-4 pr-4 font-bold'}
        %h1{class: 'text-2xl text-orange-600'}
          = link_to(@most_voted_nutrient.title, nutrient_path(@most_voted_nutrient.id))
        %div{class: 'text-white text-sm'}
          = @most_voted_nutrient.text

  -# Categories
  %div{class: 'grid grid-cols-4 m-auto'}
    = render partial: 'home/nutrient', collection: @nutrients
