-# https://gridbyexample.com/examples/example23/
- nutrient = item[:nutrient]
- row_order = item[:grid_row_order]

%div{class: 'grid grid-cols-2'}
  %div{class: '', style: "order: #{row_order[:image]}"}
    = image_tag(image_or_placeholder({ url: nutrient.image.url, seed: "nutrient-#{nutrient.id}" }))
  %div{class: 'relative m-6', style: "order: #{row_order[:text]}"}
    %h1{class: 'text-xl'}
      = link_to(nutrient.title, nutrient_path(nutrient.id))
    = nutrient.text
    %div{class: 'absolute bottom-0'}
      = voting_button(nutrient)
