!!!
%html{class: 'w-full h-full'}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Nutrire
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body{class: 'w-full h-full'}
    = render partial: '_shared/navigation'

    %main{class: 'pt-20 pl-6 pr-6'}
      = yield

    = render partial: '_shared/footer'
